<div class="row overlay">
  <div class="col-md-12">

    <div class="window">
      <h1>Add a new module for {{ project.name }}</h1>

      <form (ngSubmit)="createNewModule()" #moduleForm="ngForm">

        <div class="form-group">
          <label>Module Name</label>
          <input class="form-control" type="text" name="name" placeholder="My Awesome Module" required
          [(ngModel)]="moduleName">
        </div>

        <div class="form-group">
          <label>Module icon</label>
          <input class="form-control" type="text" name="icon"
          [(ngModel)]="moduleIcon">
        </div>

        <div class="form-group">
          <label>Module Type</label>
          <select class="form-control" name="module"
          [(ngModel)]="moduleType">
            <option *ngFor="let module of moduleTypes">{{ module }}</option>
          </select>
        </div>

        <div class="controls">
          <button type="button" id="cancel" class="button button-negative pull-left" (click)="clearPopups()">Cancel</button>

          <button type="submit" class="button button-positive" [disabled]="!moduleForm.form.valid">Create</button>
        </div>

      </form>

    </div>

  </div>
</div>
