.col-md-12 {
  display: flex;
  flex-direction: column;
}

.content {
  color: #e2e3e9;
  width: 100%;
  flex: 1;
  border-radius: 2px;
  padding: 5px;
  /*background: url("../../../assets/noise-bg-light.png");*/
}

.overflow {
  overflow-y: auto;
}

.content textarea {
  padding: 5px 10px;
  color: #e2e3e9;
  flex: 1;
  height: 100%;
  width: 100%;
  background-color: inherit;
  border: 1px solid #FFE4C1;
  border-radius: 4px;
  resize: none;
  outline: none;
}
