<div class="row">
  <div class="col-md-12">
    <div class="header">
      <h1 class="noselect">{{ markdown.name }}</h1>
      <button class="button button-edit pull-right"
      *ngIf="!editMode"
      (click)="toggleEditMode()">Edit</button>
      <button class="button button-positive pull-right"
      *ngIf="editMode"
      (click)="saveMarkdown()">Save</button>
    </div>

    <div class="content" *ngIf="!editMode">
      <markdown class="markdown">{{ markdown.content }}</markdown>
    </div>

    <div class="content" *ngIf="editMode">
      <textarea
        [ngModel]="markdown?.content"
        (ngModelChange)="markdown.content = $event"
      ></textarea>
    </div>

  </div>
</div>
