.row {
  margin-top: 4em;
  overflow-x: visible;
}

app-wizard-project {
  position: absolute;
  opacity: 1;
  transition: 0.5s;
}

app-wizard-module {
  display: none;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  margin-left: 500px;
}
