<div class="col-md-12">

  <div class="header">
    <h1>Create a New Project</h1>
    <hr />
    <p class="info">Choose a name and icon for your project</p>
  </div>

  <div class="content">

    <label for="project-name">Project Name</label>
    <div class="input-group">
      <input id="project-name" type="text" class="form-control" placeholder="My Awesome Project" />
    </div>

    <label for="project-icon">Project Icon</label>
    <div class="input-group">
      <input id="project-icon" type="text" class="form-control" />
    </div>

  </div>

  <div class="controls">
    <button>Cancel</button>
    <button>Next</button>
  </div>

</div>
