<div class="col-md-12">

  <div class="header">
    <h1>Create a New Project</h1>
    <hr />
    <p class="info">Choose a name and icon for your project</p>
  </div>

  <div class="content">

    <label for="project-name">Project Name</label>
    <div class="input-group">
      <input id="project-name" type="text" class="form-control" placeholder="My Awesome Project" [(ngModel)]="project.name">
    </div>

    <label for="project-icon">Project Icon</label>
    <icon-selector (icon)="selectIcon($event)"></icon-selector>

  </div>

  <div class="controls">
    <button class="button button-negative">Cancel</button>
    <button class="button button-positive" (click)="nextStep()">Next</button>
  </div>

</div>
