<div class="row overlay">
  <div class="col-md-12">

    <div class="window">
      <h1>Create a new project</h1>

      <form (ngSubmit)="createProject()" #projectForm="ngForm">

        <div class="form-group">
          <label>Project name</label>
          <input [(ngModel)]="project.name" class="form-control" type="text" name="name" placeholder="My Awesome Project" required>
        </div>

        <div class="form-group">
          <label>Project icon</label>
          <input [(ngModel)]="project.icon" class="form-control" type="text" name="icon">
        </div>

        <button id="cancel" type="button" class="btn btn-cancel pull-left"
        (click)="clearPopups()">Cancel</button>

        <button type="submit" class="btn btn-new pull-right" [disabled]="!projectForm.form.valid">Create Project</button>

      </form>

    </div>

  </div>
</div>
