h1 {
  width: 100%;
  font-size: 1.5em;
  margin-top: 0;
  padding: 5px 0;
  text-align: center;
  color: #ECEFF4;
}

ul {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0;
  color: #ECEFF4;
  list-style: none;
  margin-top: 5px;
  margin-bottom: 0;
  cursor: default;
}

li {
  margin: 5px 0 5px 5px;
  padding-left: 5px;
}

nav {
  overflow-y: hidden;
  height: 90%;
  margin-top: 15px;
  padding-right: 2px;
}

.module {
  color: #cfafaf;
  margin-top: 0;
  margin-left: 10px;
}

.project {
  color: 	#a9b0d6;
}

.selected {
  transition: 0.2s linear;
  border-radius: 5px;
  background-color: #626784;
  border-left: 5px solid #ff79c6;
}

.hover {
  transition: 0.1s linear;
  border-radius: 5px;
  background-color: #414458;
}

.header {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content:center;
}

.btn-header {
  color: #c4c7d4;
  background-color: #414458;
  font-size: 1.3rem;
  outline: none;
  border: 1px solid #414458;
  border-radius: 6px;
  transition: 0.2s linear;
}

.btn-header:hover {
  background-color: #626684;
}

.dropdown-content {
  color: #c4c7d4;
  font-size: 1.2rem;
  overflow: hidden;
  position: absolute;
  background-color: #626684;
  margin-top: 32px;
  transition: 0.2s;
  max-height: 0;
}

.button {
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.button:hover {
  background-color: #7b809d;
}

.show {
  max-height: 400px;
  border-top: 3px solid #ff79c6;
}
