.row {
  height: 100%;
  margin-top: 6em;
}

hr {
  width: 50%;
}

.col-xs-12 {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.welcome-text {
  text-align: center;
}

p {
  color: #c4c7d4;
}

h2 {
  font-weight: normal;
  font-size: 1.5em;
  display: inline-block;
  color: #a6aebf;
  padding: 5px;
  border: 2px solid #a6aebf;
  border-radius: 4px;
  transition: 0.2s;
  cursor: pointer;
}

h2:hover {
  border: 2px solid #565f76;
  color: #c4c9d4;
  background-color: #565f76;
}

.welcome-text h1 {
  margin: 5px;
  color: #c4c7d4;
}

.welcome-text h3 {
  margin: 0;
  font-size: 0.8em;
  color: #7a859f;
}
