<div fade-in class="row noselect defaultcursor">
  <div class="col-md-12">
    <div class="welcome-text">
      <h1>Welcome to Impulse</h1>
      <h3>At least that's what I'm calling it for now</h3>
      <hr />

      <button class="button button-primary" (click)="projectWizard()">New Project</button>

      <!-- <h2 *ngIf="!firstTime" (click)="projectWizard()">Create a Project</h2>

      <div *ngIf="firstTime" class="intro">
        <h2 (click)="projectWizard()">Get Started</h2>
      </div> -->

    </div>

  </div>
</div>
