.row {
  height: 100%;
  margin-top: 6em;
}

hr {
  width: 50%;
}

.col-xs-12 {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.welcome-text {
  text-align: center;
}

p {
  color: #c4c7d4;
}

.welcome-text h1 {
  margin: 5px;
  color: #c4c7d4;
}

.welcome-text h3 {
  margin: 0;
  font-size: 0.8em;
  color: #7a859f;
}

.hints {
  margin-top: 4em;
}

.hint {
  color: #7a859f;
  transition: 0.4s;
  font-size: 1.05em;
}
