.row {
  height: 100%;
}

.col-xs-12 {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.welcome-text {
  text-align: center;
}

p {
  color: #c4c7d4;
}

h2 {
  color: #7a859f;
}

.welcome-text h1 {
  margin: 5px;
  color: #c4c7d4;
}

.welcome-text h3 {
  margin: 0;
  font-size: 0.8em;
  color: #7a859f;
}

/* fidget spinner garbage */
.fidget{
  margin: 0 auto;
  height:140px;
  width: 140px;
  background: url('https://discuss-assets.s3.amazonaws.com/original/3X/0/3/03ad072969fc47ab98c776a60afc76d61e4877e8.svg') no-repeat;
  background-position: 22px 30px;
  background-size: 96px 96px;
  animation: spin 5s cubic-bezier(.30,.60,.80,1);

}

@keyframes spin { 100% { transform: rotate(18000deg) }};
