<div class="row noselect defaultcursor">
  <div class="col-xs-12">
    <div class="welcome-text">
      <h1>Welcome to Impulse</h1>
      <h3>At least that's what I'm calling it for now</h3>
      <hr />
      <h2>Getting Started</h2>
      <p>Click on the "Impulse" button in the upper left corner</p>
      <p>Create a new project</p>
      <p>Select your new project from the side bar</p>
      <p>Create a new module</p>
      <p>Enjoy</p>

      <div class="fidget"></div>
    </div>

  </div>
</div>
