.row {
  margin-top: 0.5em;
}

.module-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #e2e3e9;
  background-color: #282a36;
  border-top: 10px solid #626784;
  border-radius: 6px;
  width: 20em;
}

.delete-card {
  height: 8em;
}

.edit-card {
  height: 25em;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
}

.edit-card .name-box {
  border: 1px solid rgba(0,0,0,.15);
  color: #464a4c;
  background-color: #f0f1f4;
  border-radius: .25rem;
  padding-left: 5px;
}

.edit-card label {
  color: #e2e3e9;
  padding-top: 10px;
}

.edit-card .buttons {
  flex: 1;
}

.delete-card label {
  color: #e2e3e9;
  align-self: center;
  font-size: 1.2em;
}

.button {
  align-self: center;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

label {
  color: #7a859f;
  font-size: 1.1em;
}

.info {
  font-size: 1em;
  color: #e2e3e9;
  align-self: center;
  margin: 0;
}

label span {
  color: #e2e3e9;
}

.justify-around {
  justify-content: space-around;
  height: 12em;
}

.justify-center {
  justify-content: center;
}
