<div class="row">
  <div class="col-md-12">

    <div class="row justify-around">

      <div class="col-md-5 module-card">
        <label>Name: <span>{{ module.name }}</span></label>

        <label>Type: <span>{{ prettyModuleType }}</span></label>

        <label>Date created: <span>{{ prettyDate }}</span></label>
      </div>

      <div class="col-md-5 module-card">
        <label class="info">Edit module details</label>
        <button class="button button-edit"
        (click)="toggleDisplayModuleEdit()">Edit</button>
        <label class="info">Permanantly delete the module</label>
        <button class="button button-negative"
        (click)="toggleConfirmDelete()">Delete</button>
      </div>

    </div>

    <div class="row justify-center">
      <!-- edit mode area -->
      <div class="col-md-10 module-card edit-card"
      *ngIf="displayEditMode"
      fade-in>
      <label>Name</label>
      <input type="text" class="name-box" [(ngModel)]="newName">
      <label>Icon</label>
      <icon-selector
        [selectedIcon]="module.icon"
        (icon)="selectIcon($event)"
      ></icon-selector>

      <div class="buttons">
        <button class="button button-negative"
        (click)="toggleDisplayModuleEdit()">No</button>
        <button class="button button-positive"
        (click)="updateModule()">Yes</button>
      </div>

      </div>
      <!-- delete confirm area -->
      <div class="col-md-8 module-card delete-card" *ngIf="displayConfirmDelete"
      fade-in>
        <label>Are you sure you want to delete the module?</label>
        <div class="buttons">
          <button class="button button-negative"
          (click)="toggleConfirmDelete()">No</button>
          <button class="button button-positive"
          (click)="deleteModule(module._id)">Yes</button>
        </div>
      </div>
    </div>

  </div>
</div>
