.row {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  flex-wrap: nowrap;
  /*height: calc(100% - 42px);*/
  height: 100%;
}

.kanban-area {
  height: calc(100% - 44px);
  margin-top: 10px;
}

.row::-webkit-scrollbar-track
{
	background-color: #3B4252;
}

.row::-webkit-scrollbar
{
	width: 10px;
	background-color: #3B4252;
}

.row::-webkit-scrollbar-thumb
{
	border-radius: 100px;
	background-color: #626784;
}

.fa-plus-circle {
  /*color: #9cfcb4;*/
  color: #7bf49b;
  cursor: pointer;
}

.scrollable {
  display: inherit;
  z-index: 0;
}

.scroll {
  z-index: 100;
}
