<div class="col-md-12">

  <div class="header">
    <h1>Create a New Module</h1>
    <hr />
    <p class="info">Choose a name and icon for your project</p>
  </div>

  <div class="content">

    <label for="project-name">Module Name</label>
    <div class="input-group">
      <input id="project-name" type="text" class="form-control" placeholder="My Awesome Project" />
    </div>

    <label for="project-icon">Module Icon</label>
    <!-- <div class="input-group">
      <input id="project-icon" type="text" class="form-control" />
    </div> -->
    <icon-selector></icon-selector>

  </div>

  <div class="controls">
    <button class="button button-negative">Cancel</button>
    <button class="button button-positive" (click)="nextStep()">Next</button>
  </div>

</div>
