.overlay {
  position: absolute;
  z-index: 1002;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.col-xs-12 {
  padding: 0;
}

.window {
  margin: 0 auto;
  background-color: #282a36;
  margin-top: 3em;
  color: #ECEFF4;
  width: 60vw;
  border-radius: 6px;
  border: 2px solid #626784;
  padding-bottom: 15px;
  height: 85vh;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 1.3em;
  color: #ECEFF4;
  height: 1.6em;
  line-height: 29px;
  background-color: #626784;
  width: 100%;
}

p {
  text-align: center;
  font-size: 0.98em;
  margin: 0;
}

.warning {
  margin: 0 auto;;
  color: #EBCB8B;
  font-size: 0.95em;
}

.warning-container {
  width: 100%;
}

.fa {
  color: #ECEFF4;
  float: right;
  padding-right: 10px;
  line-height: 29px;
  cursor: pointer;
}

.description {
  color: #ECEFF4;
  margin: 10px auto;
  display: block;
  background-color: #3B4252;
  outline: none;
  resize: none;
  min-width: 45vw;
  border: 2px solid #626784;
  border-radius: 4px;
  padding-left: 5px;
}

.view-container {
  margin: 0 auto;
}

.textarea-container {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
}

.textarea-container textarea, .textarea-container div {
  flex: 1 1 auto;
}

.shortDescription {
  padding-left: 10px;
  color: #ECEFF4;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -3px;
  display: inline-block;
  background-color: #3B4252;
  min-width: 380px;
  outline: none;
  border: 2px solid #626784;
  border-radius: 4px;
}

.color-picker {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}

.colors-dropdown {
  display: none;
  opacity: 0;
  transition: 0.25s linear;
  position: absolute;
  margin-top: 2px;
  width: 137px;
  padding: 3px 5px;
  background-color: #3B4252;
  border: 2px solid #626784;
  border-radius: 4px;
}

.show {
  display: block;
  opacity: 1;
}

.colors-dropdown button {
  display: inline;
  margin-left: -2px;
  margin-top: 2px;
  border: none;
  outline: none;
}

.colors-dropdown button:first-of-type {
  margin-left: 0;
}

.colors-dropdown button:nth-of-type(2) {
  margin-left: -5px;
}

.colors-dropdown button:nth-of-type(5) {
  margin-left: 0;
}

.colors-dropdown .color-box:hover {
  border: 2px solid #f0f1f4;
}

.color-btn {
  background-color: #3B4252;
  border: 2px solid #8a8ea8;
  border-radius: 4px;
  cursor: pointer;
}

.color-box {
  padding: 0 8px;
  border: 2px solid #626784;
  border-radius: 3px;
  transition: border .25s;
}

.color-none {
  padding: 0 8px;
  border: 2px solid #626784;
  border-radius: 3px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  transition: border .25s;
}

.shortDescription:focus {
  outline: none;
}

.description:focus {
  outline: none;
}

.controls {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 12px;
}

.edit-mode {
  margin-top: 1em;
  padding: 0 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 77vh;
}

.view-mode {
  margin-top: 1em;
  padding: 0 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 77vh;
}

.view-description {
  color: #ECEFF4;
  margin: 10px auto;
  display: block;
  background-color: #363949;
  min-width: 45vw;
  border-radius: 4px;
  padding-left: 5px;
  overflow-x: auto;
}

.view-sd {
  font-size: 1.1em;
}

.markdown {
  padding: 10px;
  flex: 1 1 auto;
}
